<html>
    <head>
        <title> Networking in Public Clouds !</title>
    </head>
    <body>
        <h4> This is the company where I started my Networking career</h4>
        <img alt="Bay Networks" src="https://s3.amazonaws.com/nadeem.networkinginpubclouds/images/bayNetworks.png">
    </body>
</html>
